{% extends "parent.html" %}
{% load i18n %}

{% block contents %}
<h1>{% trans "Prizes" %}</h1>
<p>

<img class="image_paragraph_right" src="{{MEDIA_URL}}img/solar-climbing-orangutan.jpg" alt="Solar climbing orangutan" />
{% blocktrans %}
We will hold a raffle for everyone who participates in our survey.
We have two prizes to give away.
The first is a solar charger for mobile phones and everything with an USB charge connector.
The second prize is a toy orangutan that can climb ropes on solar power.
{% endblocktrans %}
<img class="image_paragraph_left" src="{{MEDIA_URL}}img/charger.jpg" alt="Solar charger" />
</p>

<h1>{% trans "Draw" %}</h1>
<p>
{% blocktrans %}
Every respondent before june 14th who has given a valid contact data and filled out the questionnaire is included in the drawing of the winner.
We will notify the winners per e-mail and send out the prizes by mail.
{% endblocktrans %}
<h3><a href="/accounts/register/">{% trans "I would like to register as a respondent >>>" %}</a></h3>
</p>
{% endblock %}