{% extends "parent.html" %}
{% load i18n %}

{% block contents %}
<h1>{% trans "Profile" %}</h1>

<p>
{% blocktrans %}
Thank you for taking the time to help us in our research.
First we would like to have your contact data.
Without it you won't win any of our prizes.
Your personal data will be handled carefully and we won't supply it to third parties.
We will only send you information by email if you tick the last box.
If you still rather stay anonymous,
{% endblocktrans %}
<a href="/questionnaire/">{% trans "just go straight to the questionnaire." %}</a>
</p>

{% if profileform.errors %}
{{ profileform.errors }}
{% endif %}


<form action="/accounts/profile/" method="POST">
<table>
<tr>
<th>{{ profileform.first_name.label_tag }}</th>
<th>{{ profileform.surname.label_tag }}</th>
<th>{{ profileform.initials.label_tag }}</th>
</tr>
<tr>
<td>{{ profileform.first_name }}</td>
<td>{{ profileform.surname }}</td>
<td>{{ profileform.initials }}</td>
</tr>
</table>

<table>
<tr><th>{{ profileform.email_address.label_tag }}</th></tr>
<tr><td>{{ profileform.email_address }}</td></tr>
</table>
<table>
<tr><th>{{ profileform.street.label_tag }}</th><th>{{ profileform.nr.label_tag }}</th><th>{{ profileform.suffix.label_tag }}</th></tr>
<tr><td>{{ profileform.street }}</td><td>{{ profileform.nr }}</td><td>{{ profileform.suffix }}</td></tr>
</table>
<table>
<tr><th>{{ profileform.zipcode.label_tag }}</th><th>{{ profileform.city.label_tag }}</th></tr>
<tr><td>{{ profileform.zipcode }}</td><td>{{ profileform.city }}</td></tr>
</table>
<table>
<tr><th>{{ profileform.keep_me_up_to_date.label_tag }}</th><td>{{ profileform.keep_me_up_to_date }}</td></tr>
<tr><td><input type="submit" value="{% trans "Submit" %}" /></td></tr>
</table>
</form>



{% endblock %}

